---
layout: layout.njk
title: About
---

<h2 class="section-title">Hala B Malik</h2>


<p>
I am an architect, designer and researcher based in Lahore where I lead <a href="http://www.hy-pr.com">Hyper—Practice</a>, a multi-disciplinary design and research practice focused on creating impactful spaces, experiences, systems and identities.

<p> I am mother to almost-three-year-old R, who has changed not just my days but how I see myself. Kids pull you back from work and into life’s mess and light. With her, though, I’m also pushed to look inward and rediscover who I am beneath it all. Interestingly, as she's growing up, I find myself reconnecting with the simple joys and activities for myself too.

<p>
This website is part of that process: a way to reconnect with my thirteen-year-old self, who loved building and designing her own little corner of the internet. It is primarily intended to be a personal blog, at least for now. And like most personal websites, it will most likely perpetually remain a work in progress.



<h2 class="section-title">Now <span class="note">LAST UPDATED: MAY 25, 2025</span></h2> 

<p>

Besides regular work at Hyper—Practice, one of my current goals is to streamline the online presence of the practice. The website is currently being redesigned, and the target is to launch it before the end of <s>Q4 2024</s> Q3 2025 (life happened, and pretty much all plans of 2024 were pushed forward by a year). While most of our projects come from word of mouth references, we have expanded our service offerings and want to be more careful with the kind of work we take on, so it is important that our website and other social media platforms have the proper messaging to find the right people to work with.

<p>

I have also been developing a website for Lahore Urban Archive, which is one of the key outputs from the UKRI-GCRF funded project I have been part of: Navigating the grid in the 'world-class city': poverty, gender, and access to services in India, Pakistan and Sri Lanka. The project concluded last year, and the launch is way overdue by now, but it's coming soon.



<h2 class="section-title">Elsewhere</h2> 
<p>
I still have an account of twitter/X but I'm very much in self-imposed exile. I haven't been able to find a replacement to it that has really stuck, so I'm sometimes on bluesky and sometimes on threads. Mostly only lurking. For better or for worse, instagram remains the platform that I am most active on, and if you'd rather connect with me via a social media platform, that's the place to find me. Or you can simply email me at: <span>hbm@hy-pr<b style="display: none;">.BYEBOTS</b>.com</span></p>

<p>

Instagram: <a href="https://www.instagram.com/hala.b.malik/">@hala.b.malik</a><br> 
Threads: <a href="https://www.threads.com/@hala.b.malik/">@hala.b.malik</a> <br>
Bluesky: <a href="https://bsky.app/profile/hbm.bsky.social">@hbm.bsky.social</a>

<h2 class="section-title">Colophon</h2> 
<p>
This is a static site built from scratch with Eleventy and deployed via Netlify. Fonts in use are Ease and iA Writer Quattro. No data being collected, yet.

<p>
